<nav>
    <div class="nav-wrapper light-blue accent-2">
      <a href="#" class="brand-logo center">Stephanovic</a>
    </div>
  </nav>

<div class="container">
	<div class="row pad-top-30">
        <div class="col s12 l4">
          <div class="card blue-grey lighten-2">
          <a href="http://www.boursorama.com/cours.phtml?symbole=8xBRN">
            <div class="card-content white-text flow-text center-align">
              <span class="card-title">1 Brent oil</span>
              <p id="icon1"><i class="large mdi-action-delete"></i></p>
              <p><%= @brent %></p>
            </div>
            </a>
          </div>
        </div>
        <div class="col s12 l4">
          <div class="card blue-grey lighten-2">
            <a href="http://www.boursorama.com/taux-de-change-euro-dollar-eur-usd">
            <div class="card-content white-text flow-text center-align">
              <span class="card-title">1 Euro</span>
              <p id="icon2"><i class="large fa fa-eur marge-bottom-25"></i></p>
              <p><%= @dollars %></p>
            </div>
            </a>
          </div>
        </div>
        <div class="col s12 l4">
          <a href="http://www.boursorama.com/cours.phtml?symbole=_GC">
          <div class="card blue-grey lighten-2">
            <div class="card-content white-text flow-text center-align">
              <span class="card-title">1 Ounce gold</span>
              <p id="icon1"><i class="large mdi-maps-local-atm"></i></p>
              <p><%= @gold %></p>
            </div>
            </a>
            <!-- <div class="card-action">
              <a class="waves-effect waves-light btn-large brown darken-2"><i class="mdi-navigation-refresh left"></i>button</a>
            </div> -->
          </div>
        </div>
      </div>
</div>

 <footer class="page-footer light-blue accent-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Stephanovic project</h5>
        <p class="grey-text text-lighten-4">You can use this website to give correct answer to Mr Stephan and staying up to date. All data are provided by Boursorama. Updated every 15 minutes.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/Goldenson/Stephanovic">Stephanovic Github</a></li>
          <li><a class="grey-text text-lighten-3" href="http://tcom.epita.fr/">Site TCOM</a></li>
          <li><a class="grey-text text-lighten-3" href="http://intranet.tcom.epita.fr/">Intranet TCOM</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2015 Copyright
    <a class="grey-text text-lighten-4 right" href="http://www.maximeorefice.me">Maxime Orefice</a>
    </div>
  </div>
</footer>

